<div id="header">
    <a id="hhome" href="#home" target="_top">Home</a>
    <a id="habout" href="#about" target="_top">About</a>
    <a id="hportfolio" href="#portfolio" target="_top">Portfolio</a>
    <a id="hcontact" href="#contact" target="_top">Contact</a>
</div>